.sign {
    overflow-x: hidden;
    margin-top: 329px;
    padding: 102px 0;
    background-color: #495567;
    position: relative;
}

.sign::before {
    content: "";
    position: absolute;
    left: calc(50% - 240px);
    top: 141px;
    width: 1153px;
    height: 159px;
    background-image: url(../../images/Mask.png);
    background-repeat: no-repeat;
}

.sign-inner {
    display: flex;
    align-items: center;
}

.sign-inner__title {
    width: 415px;
    color: #fff;
    font-family: monospace;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2.143px;
}

.sign-inner__subinner {
    width: 359px;
    justify-content: space-between;
    display: flex;
    margin-left: auto;
}

.sign-inner__subinner__link {
    text-decoration: none;
}

.m13 {
    margin-right: 13px;
}

@media only screen and (max-width: 768px) {
    .sign {
        overflow-x: hidden;

        &::before {
            max-width: 1153px;
            top: 221px;
            left: calc(50% - 617px);
        }
    }

    .sign-inner {
        flex-direction: column;
        align-items: center;
    }

    .sign-inner__title {
        width: 100%;
        max-width: 457px;
        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2.143px;
    }

    .sign-inner__subinner__img {
        width: 100%;
        max-width: 113.571px;
        height: 40px;
    }

    .sign-inner__subinner {
        width: 100%;
        max-width: 256.429px;
        margin: 40px auto 0 auto;
    }
}

@media only screen and (max-width: 440px) {
    .sign {
        overflow-y: hidden;
    }

    .sign-inner__title {
        width: 100%;
        max-width: 311px;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1.429px;
    }
}