.works-inner__list {
    list-style-type: none;
    width: 100%;
    max-width: 1110px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.works-inner__list_item {
    padding: 32px 64px 35px 40px;
    background-color: #f2f5f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.works-inner__list_item__main {
    margin-right: 10px;
    max-width: 315px;
    width: 100%;
}

.works-inner__list_item__heading {
    margin-bottom: 8px;
    color: #495567;
    font-family: monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1.071px;
}

.works-inner__list_item__text {
    color: #495567;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.btn {
    display: block;
    color: #FFF;
    line-height: 167%;
    text-align: center;
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 700;
    background: #fcb72b;
    padding: 14px 68px;
    text-decoration: none;
    border: 3px solid transparent;
}

.btn:hover {
    border: 3px solid #fcb72b;
    cursor: pointer;
    background-color: transparent;
    color: #fcb72b;
}

@media only screen and (max-width: 489px) {
    .works-inner__list_item {
        flex-direction: column;
        padding: 36px 32px 32px 32px;
        gap: 16px;
    }

    .works-inner__list {
        gap: 16px;
    }

    .works-inner__list_item__main {
        text-align: center;
        max-width: 247px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .works-inner__list_item__heading {
        color: #495567;
        text-align: center;
        font-family: "Space Mono";
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.804px;
    }

    .works-inner__list_item__text {
        color: #495567;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
    }

    .btn {
        padding: 14px 90px;
    }
}