.zero {
  overflow-x: hidden;
  position: relative;
}

.zero::before {
  content: "";
  position: absolute;
  top: 78px;
  left: calc(50% + 355px);
  width: 741px;
  height: 151px;
  z-index: 2;
  background-image: url("../../images/vector-left.svg");
  background-size: 741px 151px;
  background-repeat: no-repeat;
}

.zero::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 617px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("../../images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}

.about-zero {
  position: relative;
  overflow-x: hidden;
}

.about-zero::before {
  content: "";
  position: absolute;
  top: 278px;
  left: calc(50% + 0px);
  width: 741px;
  height: 151px;
  z-index: 2;
  background-image: url("../../images/vectortop.svg");
  background-size: 741px 151px;
  background-repeat: no-repeat;
}

.about-zero::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% + 617px);
  width: 445px;
  height: 445px;
  z-index: -1;
  background-image: url("../../images/square-blue.png");
  background-size: 445px;
  background-repeat: no-repeat;
}

.zero__inner {
  display: flex;
  align-items: center;
  max-width: 1106px;
  justify-content: space-between;
}

.zero__main {
  width: 445px;
}

.zero__main-heading {
  color: #495567;
  margin: 0;
  font-family: "Space Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -2.143px;
}

.zero__main-text {
  color: #939caa;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 167%;
  margin-top: 24px;
  margin-bottom: 40px;
}

.zero__main-link {
  color: #fff;
  text-align: center;
  font-family: "Space Mono";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 167%;
  display: inline-block;
  background: #fcb72b;
  padding: 14px 45px;
  text-decoration: none;
  border: 3px solid transparent;
}

.zero__main-link:hover {
  border: 3px solid #fcb72b;
  cursor: pointer;
  background-color: transparent;
  color: #fcb72b;
}

.zero__inner-img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .zero {
    overflow-x: hidden;

    &::before {
      top: 20px;
      left: calc(50% + 0px);
    }

    &::after {
      top: 20px;
      left: calc(50% + 320px);
    }
  }

  .about-zero {
    overflow-x: hidden;

    &::before {
      top: 278px;
      left: calc(50% - 350px);
    }

    &::after {
      top: 20px;
      left: calc(50% + 320px);
    }
  }

  .zero__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }

  .zero__main {
    width: 100%;
    max-width: 573px;
    text-align: center;
  }

  .zero__main-heading {
    color: #495567;
    width: 100%;
    max-width: 457px;
    margin: 0;
    margin: 0 auto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.143px;
    margin-top: 64px;
  }

  .zero__main-text {
    max-width: 573px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 440px) {
  .zero {
    overflow-x: hidden;

    &::before {
      width: 735px;
      height: 138px;
      top: 60px;
      left: calc(50% - 5px);
      background-size: 735px 138px;
    }

    &::after {
      content: none;
    }
  }

  .about-zero {
    overflow-x: hidden;

    &::before {

      top: 180px;
      left: calc(50% - 190px);
    }
  }

  .zero__inner:nth-child(odd) {
    flex-direction: column-reverse;
    max-width: 768px;
    width: 100%;
  }

  .zero__main {
    width: 100%;
    max-width: 376px;
    text-align: center;
  }

  .zero__main-heading {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    color: #495567;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.429px;
  }

  .zero__main-text {
    color: #939caa;
    width: 100%;
    max-width: 376px;
    margin: 0 auto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 167%;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .zero__inner-img {
    width: 100%;
    max-width: 376px;
    height: 376px;
    margin-bottom: 56px;
  }
}

@media only screen and (max-width: 425px) {
  .zero__inner-img {
    margin-bottom: 10px;
  }
}